body{
	margin-top: 83px;
}
/*admin page manu*/

 .navbar{
	box-shadow: 2px 2px 5px #3292a6;
	background: #fff;
	opacity: 0.9;
}

.navbar .nav-item {
    font-size: 1.3rem;
    padding-right: 10px; 
} 
 .navbar .nav-item .nav-link {
    color: #252525; 
}
.navbar .nav-item .nav-link:hover {
    color: #375DEE;
	background:#7FE9F2;  	
} 

.navbar .nav-item:last-child {
    padding-right: 0; 
} 
/*admin page bakground*/
#bennar {
  position: relative;
  background-image: url("../image/du.jpg");
  background-size:cover;
  min-height:850px; 
  
}
.light-overlay{
	background: rgba(213, 227, 238  , 0.7);
	background-size:cover;
	min-height: 850px;
	
}
/*footer-section*/
.clor{
	background: rgba(10, 11, 13 , 0.7)
 
}
/*admission page background*/
 .height{
	min-height:600px;
	background: #E4E9F4;
	text-align: center;
}
/*admin page varsity image content*/
/* .card:hover{
	background: rgba(193, 245, 181,0.7);

} */
.form-color{
	background: rgba(223, 243, 246,0.7);
 
}

